<!DOCTYPE html>
<html>
    <head>
        <!-- <script>
            change = ()=> {
                alert("yeah")
            }
            </script> -->
            <title>Error404</title>
            <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <p>{{message}}</p>
         <!-- <button onclick={change()} id = "press">SUbmit</button> -->
         {{>footer}}
    </body>

</html>